* {
    padding: 0;
    margin: 0;
}

.btn-container,
#container,
#navbar {
    display: flex;
}

#body,
.btn-container,
.img,
#product-detail>div {
    width: 100%;
}

.img {
    height: 100%;
}

#img-container {
    width: 80%;
    height: 30vh;
    max-height: 200px;
    margin: auto;
}


#body {
    top: 80px;
    padding-top: 5px;
    position: absolute;
    max-width: 1200px;
    margin: auto;
    background: white;
}

.btn-container {
    justify-content: center;
}

#container {
    width: max-content;
    flex-direction: column;
    max-width: 100%;
    margin: 2% 3.5%;
}

#container>div {
    display: flex;
}

#product-category {
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: capitalize;
}

#product-detail {
    box-shadow: 0 0 5px lightgray;
    width: 45%;
    height: max-content;
    max-width: 365px;
    min-width: 325px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    position: relative;
}


.product-name {
    text-transform: capitalize;
}

.alert {
    margin: 10px 0;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.price,
.product-name {
    font-weight: bold;
}

.product-name {
    font-size: 250%;
}

.price {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.category {
    text-transform: capitalize;
    font-style: italic;
}

#product-inventory {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}

#buy-btn {
    margin: 20px;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 0;
    background: rgb(2, 164, 2);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

img {
    object-fit: contain;
}

@media(max-width:815px) {
    #body {
        top: 120px
    }
}