* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body {
    width: 100%;
    max-width: 1200px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: orange;
    gap: 10px;
}

#page-title {
    font-size: 40px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: green
}

#navbar>p {
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px 10px;
}

#product-detail {
    margin-right: auto;
    box-shadow: 0 0 2px lightgray;
    width: 40%;
    max-width: 400px;
    height: max-content;
    padding: 10px;
}

#product-detail>div {
    width: 100%;
    max-width: 800px;
    position: relative;
}

.img {
    width: 100%;
}

.product-name {
    text-transform: capitalize;
}

.alert {
    margin: 10px 0;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.delete {
    background: pink;
    color: red;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    margin: 10px
}

#edit-container {
    box-shadow: 0 0 2px lightgray;
}

#edit-container>form,
#edit-title {
    margin: 10px;
}

#title {
    font-size: 30px;
    margin-bottom: 10px;
}

#update-form,
#update-form>div {
    display: flex;
    flex-direction: column;
}

#update-form {
    max-width: 500px;
    gap: 20px;
}

#update-form>div {
    gap: 5px;
}

input,
textarea,
select {
    font-size: 18px;
    padding-left: 5px;
    outline: none;
}


input,
select,
#update-btn {
    height: 25px;
}

input:focus,
select:focus,
#update-btn:focus,
textarea:focus {
    box-shadow: 0 0 5px lightgray;
    outline: none;
}

label {
    font-size: 20px;
}

#edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}

.hidden {
    display: none;
}

.price,
.product-name {
    font-weight: bold;
}

.product-name {
    font-size: 250%;
}

.price {
    font-size: 140%;
}

.category {
    text-transform: capitalize;
    font-style: italic;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px auto;
}

.btn-container>* {
    padding: 2% 3%;
    border: 0;
    color: white;
    font-size: 100%;
    width: 40%;
}

#delete-btn {
    background: red;
}

#edit-btn {
    background: green;
}