* {
    padding: 0;
    margin: 0;
}

.btn-container,
#container,
#navbar {
    display: flex;
}

.btn-container,
img,
#product-detail>div {
    width: 100%;
}

img {
    height: 100%;
}

.delete {
    color: red;
    background: pink;
    width: 100vw;
    margin-top: 30px;
}

#img-container {
    width: 80%;
    height: 30vh;
    max-height: 200px;
    margin: auto;
}

#body {
    top: 80px;
    padding-top: 5px;
    position: absolute;
    margin: auto;
    background: white;
    width: 100%;
}

.btn-container {
    justify-content: center;
}

#container {
    width: max-content;
    flex-direction: column;
    max-width: 100%;
    margin: 2% 3.5%;
}

#container>div {
    display: flex;
}

#product-category {
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: capitalize;
}

#product-detail {
    box-shadow: 0 0 5px lightgray;
    width: 45%;
    height: max-content;
    max-width: 365px;
    min-width: 325px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    position: relative;
}


.product-name {
    text-transform: capitalize;
}

.alert {
    margin: 10px 0;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.price,
.product-name {
    font-weight: bold;
}

.product-name {
    font-size: 250%;
}

.price {
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.category {
    text-transform: capitalize;
    font-style: italic;
}

#product-inventory {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}

#buy-btn {
    margin: 20px;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 0;
    background: rgb(2, 164, 2);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

img {
    object-fit: contain;
}

#category-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    row-gap: 50px;
    max-width: 800px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

#category-container>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    gap: 30px;
    aspect-ratio: 1/1;
    box-shadow: 0 0 5px lightgray;
    border-radius: 10px;

}

#category-container>div:hover {
    box-shadow: 0 0 10px lightgray;
}

#category-container>div>div {
    width: 100%;
}

#container.hidden {
    display: none;
}

#container.show {
    display: flex;
}

#category-container.hide {
    display: none;
}

#category-container.show2 {
    display: grid;
}


@media(max-width:815px) {
    #body {
        top: 80px
    }

    #category-container>div {
        gap: 2vw;
    }

    #category-container {
        width: 97%;
        gap: 20px;
    }

}

@media(min-width: 370px) {
    /* #category-container {
        grid-template-columns: repeat(2, 1fr);
    } */

    #category-container>div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 45%);
    }
}