#header {
    display: flex;
    flex-direction: column;
    background: orange;
    width: 100%;
    position: fixed;
    z-index: 1;
    gap: 10px;
    margin: 0;
    padding: 0;
}

#title-search {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0
}

#page-title {
    margin-left: 3.5%;
    font-size: 40px;
    min-width: max-content;

}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 1%;
    width: 100%;

}

#name-search {
    width: 70%;
    height: 25px;
}

#name-search,
#search-btn {
    font-size: 18px;
    padding-left: 5px;
    outline: none;
    border: 0;
}

#search-btn {
    cursor: pointer;
    padding: 1.5px 10px;
    color: white;
    background: green;
    margin-right: 5px;
}


.fa.fa-shopping-cart,
.fa.fa-shopping-cart>sup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa.fa-shopping-cart {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 22px;
    width: 40px;
    height: 35px;
    position: relative;
}

.fa.fa-shopping-cart>sup {
    background: green;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
}


#navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: green;
    grid-column: 2 span;
}

#navbar>p {
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-right: 20px;
}

#navbar>p:first-child {
    margin-left: 3%;
}

@media(max-width: 1140px) {
    #page-title {
        font-size: 3.5vw;
    }
}

@media(max-width: 815px) {
    #title-search {
        flex-direction: column;
        padding: 2px 20px;
    }

    #page-title {
        width: 100%;
        text-align: center;
        font-size: 40px;
        margin: 0;
    }
}

@media(max-width: 380px) {
    #page-title {
        padding: 2px 0
    }

    #title-search,
    #navbar {
        min-width: 330px;
    }
}